/* Background and layout */
.courses {
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgba(12, 24, 68, 0.7), rgba(12, 24, 68, 0.7)),
    url(../image/services-img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.courses-item {
  opacity: 0;
  animation: slideUp 1s ease forwards;
}

.card-group-1 .courses-item {
  animation-delay: 0.2s;
}

.card-group-2 .courses-item {
  animation-delay: 0.5s;
}

.card-group-3 .courses-item {
  animation-delay: 0.8s;
}

/* Slide-up animation for section text and button */
@keyframes slideUpText {
  from {
    transform: translateY(80px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.section-heading {
  opacity: 0;
  animation: slideUpText 1s ease forwards;
  animation-delay: 0.1s;
}

.more-courses-btn {
  opacity: 0;
  animation: slideUpText 1s ease forwards;
  animation-delay: 0.4ms;
}



/* Card visual styles */
.courses-item-inner {
  position: relative;
  transform: skew(4deg);
  margin: 0 15px;
  background: rgba(255, 245, 225, 0.5);
  transition: 0.5s;
}

.courses-item:hover .courses-item-inner {
  background: none;
}

.courses-item-inner:hover {
  transform: skew(-4deg);
}

.courses-item p {
  color: white;
  transition: 0.5s;
}

.courses-item:hover p {
  color: rgb(135, 141, 151);
}

.courses-item-inner .data-info .courses-trainer {
  color: white;
  transition: 0.5s;
}

.courses-item:hover .courses-item-inner .data-info .courses-trainer {
  color: rgb(255, 255, 255);
}

.courses-item-inner .data-info .courses-date {
  font-size: 13px;
}

.courses-item-inner .courses-icon-img {
  width: 80px;
  height: 80px;
  background: #C80036;
  transition: 0.5s;
}

.courses-item-inner .courses-icon-img img {
  filter: grayscale(100%);
  transition: 0.5s;
}

.courses-item:hover .courses-item-inner .courses-icon-img img {
  filter: grayscale(0%);
}

.courses-item-inner:hover a {
  color: white;
  transition: 0.5s;
}

.courses-item-inner:hover a:hover {
  color: #C80036;
}

.courses-item-inner::after {
  content: "";
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background: rgba(12, 24, 68, 0.9);
  transition: 0.5s;
  z-index: -1;
}

.courses-item-inner:hover:after {
  height: 100%;
}
