.explore {
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgba(12, 24, 68, 0.7), rgba(12, 24, 68, 0.7)),
    url("../image/services-img.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
