@keyframes zoomOutCenter {
  0% {
    transform: scale(0.1);
    background-position: center center;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    background-position: center center;
    opacity: 1;
  }
}

.explore {
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgba(12, 24, 68, 0.7), rgba(12, 24, 68, 0.7)),
    url("../image/services-img.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: zoomOutCenter 1.2s ease forwards;
}
